section.form-group.col-md-4#cart-register-code
	h2.cpx-heading Verify
	input(type='text', placeholder='Enter the code texted to you.')#code.form-control
	input(type='hidden')#vf
	span.btn.btn-info.btn-block#verify Verify
