section.file-dropper-file
	button(data-index=index, type="button").btn.btn-warning.btn-circle.pull-right.remove-upload-file
		i.glyphicon.glyphicon-remove
	h3=file
	p
		strong Size 
		| #{size}
	section
		strong Price (MVR)
		select.form-control
			option(value='0') Free
			option(value='1') 1
			option(value='2') 2
			option(value='3') 3
			option(value='4') 4
			option(value='5') 5
			option(value='6') 6
			option(value='7') 7
			option(value='8') 8
			option(value='9') 9
			option(value='10') 10