div.btn-group
	button(type='button', data-toggle="dropdown").btn.btn-link.dropdown-toggle
		span.glyphicon.glyphicon-flag(style='color:#ACACAC;')
	ul.dropdown-menu(role='menu', data-id=id).flag-file
		li
			a(href='javascript:;') Can't watch this file
		li
			a(href='javascript:;') Bad quality
		li
			a(href='javascript:;') Incorrect file
		li
			a(href='javascript:;') Sensitive content/nudity