section.col-md-12
	ul.list-inline.cpx-list-inline.main-filter(data-toggle='buttons', filter-prop='category')
		li
			h2 Everything
		li
			h2 Apps
		li(filter-subprops='[{"title":"Platform","values":["Windows","PS3","PS4","Mac","Linux"]}]')
			h2 Games
		li
			h2 Tutorials