section.col-md-12
	ul.list-inline.cpx-list-inline.main-filter(data-toggle='buttons', filter-prop='language')
		li(filter-subprops='[{"title":"Quality","values":["Cam","DVDRip","HD"]},{"title":"time","values":["Recent","2015","2014","2013","2012"]},{"title":"Genre","values":["Documentary","Thriller","Horror","Action","Sci-Fi","Comedy","3D"]},{"title":"Ratings","values":["Top","Ok","Poor"]},{"title":"Length","values":["Short","Long"]}]')
			h2 All
		li(filter-subprops='[{"title":"Quality","values":["Cam","DVDRip","HD"]},{"title":"time","values":["Recent","2015","2014","2013","2012"]},{"title":"Genre","values":["Documentary","Thriller","Horror","Action","Sci-Fi","Comedy","3D"]},{"title":"Ratings","values":["Top","Ok","Poor"]},{"title":"Length","values":["Short","Long"]}]')
			h2 English
		li(filter-subprops='[{"title":"Quality","values":["Cam","DVDRip","HD"]},{"title":"time","values":["Recent","2015","2014","2013","2012"]},{"title":"Genre","values":["Documentary","Thriller","Horror","Action","Sci-Fi","Comedy","3D"]},{"title":"Ratings","values":["Top","Ok","Poor"]},{"title":"Length","values":["Short","Long"]}]')
			h2 Hindi
		li(filter-subprops='[{"title":"Quality","values":["Cam","DVDRip","HD"]},{"title":"time","values":["Recent","2015","2014","2013","2012"]},{"title":"Genre","values":["Documentary","Thriller","Horror","Action","Sci-Fi","Comedy","3D"]},{"title":"Ratings","values":["Top","Ok","Poor"]},{"title":"Length","values":["Short","Long"]}]')
			h2 Japanese