section.form-group
	label.col-sm-3.control-label Search
	section.col-sm-9
		input.form-control.typeahead(type='text', placeholder='Search for existing series', media-search="series", media-limit="10", media-fields="_id,title").search
section.form-group
	label.col-sm-3.control-label
	section.col-sm-9
		button(type='button').btn.btn-warning#new-media-button New Series
section#new-media-form-content
	h2 Series details
		img(src='/images/loader.gif', style='display:none;')#loader
	hr
	section.form-group
		label.col-sm-3.control-label IMDB url
		section.col-sm-9
			input.form-control(type='text', media-prop-type='text', placeholder='Enter IMDB url', media-prop="imdb_id")#media-retrieve-data
	section.form-group
		label.col-sm-3.control-label Poster
		section.col-sm-9
			input.form-control(type='text', placeholder='Enter poster URL', media-prop="poster")
			img#media-image.img-responsive
	section.form-group
		label.col-sm-3.control-label Title
		section.col-sm-9
			input.form-control(type='text', media-prop-type='text', placeholder='Title', required, media-prop="title")
	section.form-group
		label.col-sm-3.control-label Year
		section.col-sm-9
			input.form-control(type='text', media-prop-type='text', placeholder='Year', required, media-prop="year")
	section.form-group
		label.col-sm-3.control-label Description
		section.col-sm-9
			textarea.form-control(type='text', media-prop-type='text', placeholder='Description', required, media-prop="description")
	section.form-group
		label.col-sm-3.control-label Genre
		section.col-sm-9
			input.form-control(type='text', media-prop-type='text', placeholder='Genre', required, media-prop="genre")
	section.form-group
		label.col-sm-3.control-label Languages
		section.col-sm-9
			input.form-control(type='text', media-prop-type='Languages', placeholder='languages', required, media-prop="languages")
	section.form-group
		label.col-sm-3.control-label IMDB rating
		section.col-sm-9
			input.form-control(type='text', media-prop-type='text', placeholder='IMDB ratings', required, media-prop="rating_imdb")
	section.form-group(style='display:none;')
		label.col-sm-3.control-label Directory
		section.col-sm-9
			input.form-control(type='text',  media-prop-type='text', placeholder='Folder location on file system', required, media-prop="directory")
	section.form-group
		label.col-sm-3.control-label
		section.col-sm-9
			section
				button(type='button').btn.btn-success#save-info Save Info

	h2 Episode details
	section.form-group
		label.col-sm-3.control-label Season
		section.col-sm-9
			select.change-episode#change-series-season
				-for(var i=1; i<=40; i++)
					option(value=i) S#{i}
	section.form-group
		label.col-sm-3.control-label Episode
		section.col-sm-9
			select.change-episode#change-series-episode
				-for(var i=1; i<=1000; i++)
					option(value=i) E#{i}				
			section#change-series-episode-details