section.btn-group.pull-right#newmedia-media-options
	button.command(type='button', title='Create screenshots', data-id=id, data-cmd-route='/media/'+id+'/screenshots', data-cmd-method='get').btn
		i.glyphicon.glyphicon-film
	button.command(type='button', title='Check health', data-id=id, data-cmd-route='/media/'+id+'/health', data-cmd-method='get').btn
		i.glyphicon.glyphicon-cog
	button.command(type='button', title='Delete media', data-id=id, data-cmd-route='/media/'+id+'/delete', data-cmd-method='get').btn
		i.glyphicon.glyphicon-remove		