extends layout-manage

block content
	h1.vod-heading Articles
	section.row
		section.col-md-4
			h3 Facebook
			a(href=fb_url) Connect
	section.row
		section.col-md-12#articles
	script.
		$(function(){
			$("body").on('click','.publish', function(){
				var self = $(this);
				var id = self.attr('data-article');
				$.post('/article/'+id+'/toggle-publish', function(res){
					self.text(res.new_status);
				});
			})
		})