* {
  font-family: "Open Sans";
}
body {
  position: relative;
  background: #ebebeb;
}
header {
  padding: 22px 0px;
  background: #fff;
  box-shadow: 0px 0px 4px rgba(100,100,100,0.3);
  -webit-box-shadow: 0px 0px 4px rgba(100,100,100,0.3);
  -moz-box-shadow: 0px 0px 4px rgba(100,100,100,0.3);
  margin-bottom: 15px;
}
header .navbar {
  margin-bottom: 0;
}
header .navbar ul {
  line-height: 94px;
}
header .navbar ul li {
  text-align: center;
}
header .navbar ul li a {
  font-weight: 900;
  height: 94px;
  line-height: 94px;
  color: #fff !important;
  text-transform: uppercase;
  padding: 0;
  width: 100px;
  -webkit-transition: background-color 0.2s ease-in;
}
header .navbar ul li a:hover {
  background-color: #f0f0f0 !important;
}
#logo {
  width: 146px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {
  font-size: 36px;
  font-weight: bolder;
  color: #fff !important;
}
.popover {
  border: none;
  max-width: 100%;
  width: 400px;
  background-color: #e23636;
  border-radius: 0;
}
.popover .row {
  padding: 5px;
  color: #fff;
}
.popover h1 {
  margin-top: 0;
}
.popover.right>.arrow {
  top: 10%;
}
.popover.right>.arrow:after {
  border-right-color: #e23636;
}
paper-input {
  width: 100%;
}
.listing {
  margin-top: 20px;
}
.listing li {
  padding-left: 0px;
  padding-right: 1px;
  height: 238px;
  width: 175px;
  max-height: 238px;
  max-width: 175px;
  overflow: hidden;
  margin: 6px;
  background: #fff;
}
.listing li a {
  text-decoration: none;
  color: #000;
}
.listing li a h4 {
  color: #464646;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.listing li section {
  height: 178px;
  width: 100%;
  background-size: cover;
}
.listing li.selected section {
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
.tabpop {
  position: fixed;
  background: #e23636;
  bottom: -500px;
  width: 100%;
  padding: 30px;
  z-index: 1000;
  color: #fff;
  -webkit-transition: bottom 0.2s ease-in;
  transition: bottom 0.2s ease-in;
}
.tabpop-anim-in {
  bottom: 0px;
}
.tabpop-anim-out {
  bottom: -500px;
}
#admin-panel {
  background: #414141;
  padding: 10px;
  line-height: inherit;
}
.home-task {
  color: #fff;
}
.home-task .glyphicon {
  font-size: 17px;
}
.btn-group .btn-link.active {
  color: #000;
}
.file-dropper-file {
  padding: 10px;
}
.typeahead {
  z-index: 1051;
}
.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
  box-shadow: none;
}
#finder {
  background: #f5f5f5;
  border: none;
  height: 47px;
}
#finder:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.pagination>li>a {
  margin-bottom: 6px;
  border-radius: none;
}
#search-more {
  background: #ececec;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
#nothing-found {
  color: #c0c0c0;
}
.featured-content-pic {
  height: 400px;
  background: #00989e;
  background-repeat: no-repeat;
  background-size: cover;
}
.featured-content-info {
  height: 50%;
  width: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.featured-content-info h3 {
  font-weight: bolder;
}
.featured-content-info p {
  font-size: 12px;
}
.media img {
  height: 200px;
}
.media >a {
  position: relative;
}
.media >a >div {
  position: absolute;
}
.media >a section {
  background-image: url("http://placehold.it/211x250&text=media");
}
.img-holder {
  -webkit-filter: contrast(0) brightness(1.9);
  filter: contrast(0) brightness(1.9);
  -moz-filter: contrast(0) brightness(1.9);
}
.vod-form>input {
  margin-bottom: 10px;
}
.vod-list-inline li {
  cursor: pointer;
}
.vod-list-inline li h2,
.vod-list-inline li h4 {
  font-family: "Open Sans";
  font-weight: 800;
  color: #c9c9c9;
}
.vod-list-inline li.active h2,
.vod-list-inline li.active h4 {
  color: #000;
}
.main-filter .btn {
  background-color: #5a5a5a;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  color: #fff;
}
.main-filter .btn.active {
  background-color: #e23636;
}
#listings-subpropfilter {
  margin-bottom: 10px;
}
#listings-subpropfilter .btn-group-vertical {
  width: 100%;
}
#test {
  width: 100%;
  height: 430px;
  -webkit-filter: blur(5px) grayscale(0.8);
  z-index: -1;
  position: absolute;
  background-size: cover;
}
#ttt {
  z-index: 10000;
  color: #fff;
  padding: 0px 50px;
  padding-top: 52px;
}
#ttt h1 {
  font-weight: 900;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}
#tt:before {
  background: #00989e;
  background-size: cover;
  content: "";
  position: absolute;
  background-size: cover;
  z-index: -1;
  height: 20%;
  width: 20%;
  -webkit-transform: scale(5);
  -webkit-transform-origin: top left;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
#media-display-container {
  display: inline-block;
  background: #fff;
  box-shadow: 0 32px 36px -20px #808080;
}
#media-display-container h1 {
  padding: 10px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #444;
}
#media-display-container img {
  width: 100%;
}
.view-more {
  color: #fff;
  padding: 10px;
  font-size: smaller;
}
.watchlist {
  background: #fff;
}
.vod-heading {
  text-transform: uppercase;
  color: #525252;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#display-users-container {
  background-color: #fff;
}
.flag-item-info,
.request-item-info {
  background: #fff;
  margin-bottom: 5px;
  padding: 10px;
}
.request-item-info {
  height: 200px;
  border-right: 1px solid #f0f0f0;
}
.request-item-info section {
  bottom: 6px;
  position: absolute;
  width: 94%;
}
.request-row {
  display: table;
  width: 100%;
}
.file-dropper-file {
  background: #fff;
  margin-bottom: 5px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.delete-file {
  cursor: pointer;
}
.popover {
  z-index: 1000;
}
#new-media-form-content {
  display: none;
}
.watchlist-item {
  background: #fff;
  padding: 0;
  margin-bottom: 1px;
}
.watchlist-item:hover {
  background: #f0f0f0;
}
.watchlist-item >section {
  padding: 5px;
}
.watchlist-item img {
  height: 160px;
}
.watchlist-item.active {
  background: rgba(216,255,222,0.92);
}
.watchlist-time {
  color: #747474;
}
#watchlist-series h5 {
  background: #fff;
  padding: 10px;
  color: #3c3c3c;
  margin: 1px 0;
  cursor: pointer;
}
#watchlist-series h5.active {
  background: #ff6b6b;
  color: #fff;
}
#signin-help {
  cursor: pointer;
}
.file-download-link {
  margin-bottom: 10px;
}
.file-download-link .btn {
  width: 75%;
}
.vod-heading .btn-group {
  margin-right: 7px;
}
.vod-heading .btn-group button.active {
  background: #42a3ff;
  color: #fff;
}
.insight-box {
  background: #fff;
  padding: 15px;
  overflow: auto;
}
#cart-items {
  padding: 10px;
}
.cart-file {
  padding: 10px 0;
}
.cart-authorize-item {
  padding: 5px;
}
#cart-mobile {
  background: #0a2d5e;
  height: 50px;
  bottom: 0;
  position: fixed;
  z-index: 10000;
  width: 100%;
}
#cart-msg {
  color: #fff;
  text-align: center;
  margin-top: 15px;
}
