section.row
	section.col-md-12
		section
			code=media._id
		section#media-display
			img(src=media.file.sizes.large).img-responsive
	section.col-md-12
		span.btn.btn-danger.pull-right.btn-xs delete
		form.form
			section.form-group
				label Short Description Dhivehi (optional)
				textarea.form-control.thaana(name='description_dv')
			section.form-group
				label Short Description English (optional)
				textarea.form-control(name='description_en')
			section.form-group
				label Tags (seperated by comma)
				p
					small Ex: president, #elections2018, raees launch
				textarea.form-control(name='tags')
			section.form-group
				label Source or Photographer (optional)
				input(type='text', name='source').form-control
	script.
		$('.thaana').thaana();