-var tid = ~~(Math.random() * 100000000);
-var modal_id = "modal_" + tid;
-var modal_form_id = "modal_" + tid;
div.modal.fade(tabindex="-1", role="dialog", aria-hidden="true", id=modal_id)
	div.modal-dialog.modal-sm
		div.modal-content
			div.modal-header(style='background: rgb(255, 56, 56);')
				button(type='button', data-dismiss='modal').close
					span(aria-hidden='true') &times;
					span.sr-only close
				h4.modal-title Error!
			div.modal-body
				p=error

script.
	$("##{modal_id}").modal('show');